aiosmtpd
alembic
atpublic
attrs
Babel
blinker
certifi
charset-normalizer
click
defusedxml
dnspython
elastic-transport
elasticsearch
email-validator
Flask
flask-babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
httpie
idna
itsdangerous
Jinja2
langdetect
Mako
markdown-it-py
MarkupSafe
mdurl
multidict
packaging
psycopg2-binary
Pygments
PyJWT
PySocks
python-dotenv
pytz
redis
requests
requests-toolbelt
rich
rq
setuptools
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
